*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    position: relative;
}

p::before {
    content: attr(data-item);
    transition: all 1s ease-in-out;
    color: #8254ff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
}

p:hover::before {
    width: 100%;
}


a {
    text-decoration: none;
    color: #8f8f8f;
    font-size: 24px;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

a::before {
    content: attr(data-item);
    transition: 0.5s;
    color: #8254ff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
}

a:hover::before {
    width: 100%;
    transition: all 0.5s ease-in-out;
}

nav{
    position: absolute;
    top:0;
    width: 100%;

}

.menuItems{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background: white;
}

.menuItems > li {
    padding: 0 80px;

}

footer{
    position: fixed;
    bottom: 0;
}