/* MAIN COLOR */
#mainColor {
    color: #171717;
}

#color1 {
    color: #444444;
}

#color2 {
    color: #EDEDED;
}

#color3 {
    color: #DA0037
}

@font-face {
    font-family: hyperwave;
    src: url(../font/Hyperwave.otf);
}

* {
    font-family: 'Chakra Petch', sans-serif;
}


.title {

    /* font-family: hyperwave; */
    display: flex;
    font-weight: 800;
    font-size: 60px;
}

.wave {
    font-family: hyperwave;
    font-size: 100px;
    animation: fontcolor 10s;
}

body {
    background-color: #171717;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes fontcolor {
    0% {
        opacity: 100%;
    }



    50% {
        opacity: 50%;
    }


    100% {
        opacity: 0%;
    }
}

.background-mask {
    position: fixed;
    width: var(--X);
    height: var(--Y);
    background-image: url(./img/background1.jpeg);
    background-size: var(--X) var(--Y);
    z-index: -1001;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    filter: grayscale(100%);
    transform: translateX(-7.5vh) translateY(-7.5vh);
}

:root {
    --cursorX: -100vw;
    --cursorY: -100vh;
    --X: 0;
    --Y: 0;
}

.cursor {
    position: absolute;
    /* background-image: url(./img/background1.jpeg) ; */
    background-position: var(--cursorNegX) var(--cursorNegY);
    background-size: var(--X) var(--Y);
    background-repeat: no-repeat;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: var(--cursorX);
    top: var(--cursorY);
    z-index: -100;
    border: 1px solid white;
    height: 15vh;
    width: 15vh;
    padding: 0;
    margin: 0;
    transition: all 50ms ease-out;
}

.outerContainer {

    display: flex;
    margin: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    background-color: #171717;
    color: #EDEDED;
    width: 300px;
    height: 400px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.account {
    position: absolute;
    top: 24vh
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.label-before,
.field input:valid+label::before,
.field input:focus+label::before {
    line-height: 20px;
    font-size: 16px;
    top: -1px;
    background: transparent;

    padding: 0 6px;
    left: 9px;
}

.field {
    position: relative;
}

.field label::before {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 15px;
    line-height: 50px;
    font-size: 20px;
    color: #777;
    transition: 300ms all;
}

.field input:focus {
    outline: 0;
}

.field input:valid+label::before {
    content: attr(data-title);
}


.field input {
    height: 30px;
    margin: 10px;
    background-color: #171717;
    color: #EDEDED;
    box-shadow: none;
    border-bottom-color: #444444;
    border-top: none;
    border-left: none;
    border-right: none;
}

.btn {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #444444;
    color: #EDEDED;
}

.btn:hover {
    cursor: pointer;
}



.gradient-border {
    --borderWidth: 3px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
}

.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 5s ease alternate infinite;
    background-size: 300% 300%;
}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}