/* MAIN COLOR */
#mainColor {
    color: #171717;
}

#color1 {
    color: #444444;
}

#color2 {
    color: #EDEDED;
}

#color3 {
    color: #DA0037
}

@font-face {
    font-family: hyperwave;
    src: url(./font/Hyperwave.otf);
}

* {
    font-family: 'Chakra Petch', sans-serif;
    color: white;
    box-sizing: border-box;
}

.title {
    /* font-family: hyperwave; */
    display: flex;
    font-weight: 600;
    font-size: 60px;
}

.wave {
    padding-left: 15px;
    font-family: hyperwave;
    font-size: 100px;
    background: -webkit-linear-gradient(45deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fontcolor 1s linear infinite;
}

body {
    background-color: #171717;
    position: relative;
    height: 100%;
    width: 100%;
    /* min-width: 900px; */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes fontcolor {
    0% {
        background: -webkit-linear-gradient(45deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    12.5% {
        background: -webkit-linear-gradient(45deg, #6fba82, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    25% {
        background: -webkit-linear-gradient(45deg, #07b39b, #6fba82, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


    37.5% {
        background: -webkit-linear-gradient(45deg, #1098ad, #07b39b, #6fba82, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    50% {
        background: -webkit-linear-gradient(45deg, #5073b8, #1098ad, #07b39b, #6fba82, #f79533, #f37055, #ef4e7b, #a166ab);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    62.5% {
        background: -webkit-linear-gradient(45deg, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82, #f79533, #f37055, #ef4e7b);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    75% {
        background: -webkit-linear-gradient(45deg, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82, #f79533, #f37055);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    87.5% {
        background: -webkit-linear-gradient(45deg, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82, #f79533);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    100% {
        background: -webkit-linear-gradient(45deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


}


/* .outerContainer {

    display: flex;
    margin: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    background-color: #171717;
    color: #EDEDED;
    width: 300px;
    height: 500px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

} */

/* .account {
    position: absolute;
    top: 24vh
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.label-before,
.field input:valid+label::before,
.field input:focus+label::before {
    line-height: 20px;
    font-size: 16px;
    top: -1px;
    background: transparent;

    padding: 0 6px;
    left: 9px;
}

.field {
    position: relative;
}

.field label::before {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 15px;
    line-height: 50px;
    font-size: 20px;
    color: #777;
    transition: 300ms all;
}

.field input:focus {
    outline: 0;
}

.field input:valid+label::before {
    content: attr(data-title);
}


.field input {
    height: 30px;
    margin: 10px;
    background-color: #171717;
    color: #EDEDED;
    box-shadow: none;
    border-bottom-color: #444444;
    border-top: none;
    border-left: none;
    border-right: none;
}

.btn {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #444444;
    color: #EDEDED;
}
*/


#success-border {
    --borderWidth: 3px;
    background: #1D1F20;
    /* position: relative; */
    border-radius: var(--borderWidth);
}

#success-border:after {
    content: '';
    /* position: absolute; */
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: greenyellow;
    border-radius: calc(2 * var(--borderWidth));
    z-index: -0.5;
    background-size: 300% 300%;
}

#fail-border {
    --borderWidth: 3px;
    background: #1D1F20;
    /* position: relative; */
    border-radius: var(--borderWidth);
}

#fail-border:after {
    content: '';
    /* position: absolute; */
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: red;
    border-radius: calc(2 * var(--borderWidth));
    z-index: -0.5;
    background-size: 300% 300%;
}

.btn {
    font-size: medium;
    width: auto;
    margin-right: 1rem;
}

.btn:hover {
    cursor: pointer;
}



.gradient-border {
    --borderWidth: 3px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
}

.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 5s ease alternate infinite;
    background-size: 300% 300%;
}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


h1 {
    text-align: center;
}

.img-container {
    position: relative;
}

.pic {
    /* position: relative; */
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.pic img {
    /* display: block; */
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
    /* animation: fadeEffect 1s; */
}



button {
    position: absolute;
    top: 45%;
    height: 35px;
    width: 35px;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

button .arrow {
    /* background-color: #171717; */
    border: solid #fff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 10px;
    transition: transform 0.3s ease-out;
    outline: none;
}

#right-btn {
    right: 0;
    margin: auto 0 auto -2em;
}

#right-btn .arrow {
    transform: rotate(-45deg);
}

#left-btn {
    left: 0;
    z-index: 0;
    margin: auto -2em auto 0;
}

#left-btn .arrow {
    transform: rotate(135deg);
}

@keyframes fadeEffect {
    0% {
        opacity: 0.5;
    }

    /* 50% {
        opacity: 0;
    } */

    100% {
        opacity: 1;
    }
}



small {
    color: #666;
}











/* POST */
.post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    min-width: 900px;
    /* background-color: #444444; */
}

.my-post-container {
    position: relative;
    min-width: 900px;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    /* background-color: #444444; */
}

.post,
.myPost {
    position: relative;
    background-color: #171717;
    margin: 30px;
    width: 600px;
    min-width: 600px;
    /* height: 50vh; */
    min-height: 800px;
    box-shadow: 0 24px 38px 3px rgba(100, 100, 100, 0.14),
        0 9px 46px 8px rgba(100, 100, 100, 0.12), 0 11px 15px -7px rgba(100, 100, 100, 0.2);
    animation: postEffect 1s linear;
}

.place-holder {
    width: 600px;
    height: 800px;
    margin: 30px;
}


.post-footer,
.post-header {
    width: 100%;
    padding: 10px;
}

.post-header {

    /* background-color: #444444; */
    /* box-shadow: 0 24px 38px 3px rgba(255, 255, 255, 0.14),
        0 9px 46px 8px rgba(255, 255, 255, 0.12), 0 11px 15px -7px rgba(255, 255, 255, 0.2); */
}

.user {
    font-size: 1rem;
    font-weight: 900;
    width: 15%;
    overflow: hidden;
    /* margin-left: 10px; */
    /* display: flex; */
}

.post-footer {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.buttons-container {
    width: 80%;
    display: flex;
    height: 20px;
}

.posted-on {
    color: #686767;
    font-size: x-small;
    display: flex;
    width: 20%;
    justify-content: flex-end;

}

.likes {
    position: relative;
    padding: 5px;
    font-size: x-small;
    width: auto;
}

.liked-by {

    padding: 5px;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: 80px;
    top: -75px;
    left: 1rem;
    background: #171717;
    overflow-y: auto;
    animation: postEffect .5s linear;
    border-radius: 5px;
    box-shadow: 0 24px 38px 3px rgba(100, 100, 100, 0.14),
        0 9px 46px 8px rgba(100, 100, 100, 0.12), 0 11px 15px -7px rgba(100, 100, 100, 0.2);
}

/* width */
.liked-by::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.liked-by::-webkit-scrollbar-track {
    background-color: #444444;
    box-shadow: inset 0 0 5px #444444;
    border-radius: 10px;

}

.liked-by::-webkit-scrollbar-thumb {
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #EDEDED;
    /* creates padding around scroll thumb */
}

.likes:hover {
    cursor: alias;
}

.liked-by .user {
    font-size: x-small;
    width: 100%;
    min-width: 50px;
    max-width: 100px;
    overflow: hidden;
    /* text-align: center; */
}

.caption {
    padding: 5px;
    display: flex;
    align-items: center;
    width: 100%;
}

.comment {
    padding: 5px;
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 85px;
    flex-wrap: wrap;
    overflow-y: auto;
}

.content {
    margin-left: 5px;
    min-width: 70%;
    font-size: 1rem;
    color: #aaaaaa;
    height: 25px;
    overflow: hidden;
    width: 400px;
}

.like {
    color: #DA0037;
    font-size: large;
}

.liked {
    color: #DA0037;
    font-size: large;
}

.message {
    font-size: large;
}

.profile-container {
    position: absolute;
    right: 1%;
    display: flex;
}

#profile {
    /* margin-left: 20px; */
    border: 2px solid white;
    border-radius: 25px 5px 5px 25px;
    width: 230px;
    height: 50px;
    position: relative;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    cursor: pointer;
    margin: auto;
}

.icon-container {
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.user-icon {
    border-radius: 50%;
    max-width: 90%;
    max-height: 90%;
    height: auto;
    width: auto;
    object-fit: contain;
}

.comment .icon-container {
    width: 10%;
}

#profile-picture {
    margin: 3px;
    border: 2px solid white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

#profile-name {
    /* margin: 0 15px 0 5px; */
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(-10px) translateY(-50%);
    width: 155px;
    overflow: hidden;
    text-align: end;

}


#profile:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    right: 0;
    top: 48px;
    background-color: #aaaaaa;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: end;
    cursor: default;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 1000;
    margin: 5px 0 0 0;
    background-color: #ffffff;
}

@keyframes postEffect {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}


.dropdown-content a:hover {
    cursor: pointer;
}

/* width */
.comment::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.comment::-webkit-scrollbar-track {
    background-color: #444444;
    box-shadow: inset 0 0 5px #444444;
    border-radius: 10px;

}

.comment::-webkit-scrollbar-thumb {
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #EDEDED;
    /* creates padding around scroll thumb */
}

#blur {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(60deg, #f6943180, #f3705580, #ef4e7b80, #a166ab80, #5073b880, #1098ad80, #07b39b80, #6fba8280);
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    z-index: 99;
    /* animation: rgb 1s linear infinite; */
}

.outerContainer {
    display: flex;
    margin: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 100000;
}


.container {
    display: flex;
    background-color: #171717;
    color: #EDEDED;
    width: 300px;
    height: 500px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;

}

.account {
    position: absolute;
    top: 35vh
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.label-before,
.field input:valid+label::before,
.field input:focus+label::before {
    line-height: 20px;
    font-size: 16px;
    top: -1px;
    background: transparent;

    padding: 0 6px;
    left: 9px;
}

.field {
    position: relative;
}

.field label::before {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 15px;
    line-height: 50px;
    font-size: 20px;
    color: #777;
    transition: 300ms all;
}

.field input:focus {
    outline: 0;
}

.field input:valid+label::before {
    content: attr(data-title);
}


.field input {
    height: 30px;
    margin: 10px;
    background-color: #171717;
    color: #EDEDED;
    box-shadow: none;
    border-bottom-color: #444444;
    border-top: none;
    border-left: none;
    border-right: none;
}

/* .btn {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #444444;
    color: #EDEDED;
} */

.btn:hover {
    cursor: pointer;
}

.profile-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
}

.profile-button {
    display: inline-block;
    color: #444;
    border: 1px solid #CCC;
    background: #DDD;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    vertical-align: middle;
    width: 200px;
    padding: 5px;
    text-align: center;
    margin: 25px 0;
    font-size: 1rem;
    text-transform: none;
}

.profile-button:hover {
    background-color: #444444;
    color: #EDEDED;
}

.profile-title {
    margin-top: 20px;
    text-align: center;
    font-size: 3.5rem;
}



.submit-return-button {
    font-size: medium;
    /* width: auto; */
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #444444;
    color: #EDEDED;
    margin: 10px 0;
}

.submit-return-button:hover {
    cursor: pointer;
    background-color: #EDEDED;
    color: #444444;
}

.profile-svg-container {
    width: 100%;
    position: relative;
}

.bi-x-lg {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.2rem;
    color: #EDEDED;
    background: rgb(60, 60, 60);
    border-top: 1.2px solid rgb(107, 107, 107);
    border-left: 1.2px solid rgb(107, 107, 107);
    border-right: 1.2px solid rgb(30, 30, 30);
    border-bottom: 1.2px solid rgb(30, 30, 30);
}

.bi-x-lg:active {
    border-right: 1.2px solid rgb(107, 107, 107);
    border-bottom: 1.2px solid rgb(107, 107, 107);
    border-top: 1.2px solid rgb(30, 30, 30);
    border-left: 1.2px solid rgb(30, 30, 30);
}

.bi-x-lg:hover {
    cursor: pointer;
}

#setting-type {
    display: none;
    margin: 0;
    padding: 0;
}

#pop-up-container {
    z-index: 10000;
    display: none;
    position: fixed;
}

#pop-up-2-container {
    z-index: 10000;
    display: none;
    position: fixed;
}

.comment-pop-up-container {
    z-index: -10000;
    position: absolute;
    display: flex;
    top: 50;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
}

.comment-pop-up {
    /* position: sticky;
    top: 50%; */
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 27%, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    padding: 5px;
    color: #EDEDED
}

#comment-form,
#my-comment-form {
    width: 100%;
    height: 70%;
    position: relative;
}

#comment-form input,
#my-comment-form input {
    width: 100%;
    height: 100%;
    background-color: #444444;
    color: #EDEDED;
    border-radius: 5px;
}

#submit-button {
    padding: 5px !important;
    margin: 0 !important;
    width: 4rem !important;
    height: 80% !important;
    font-size: small;
    position: absolute;
    top: 10%;
    right: 5px;
}

.close-comment-tab {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 5px;
}

.post-status {
    font-size: small;
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    font-size: small;
    font-weight: bold;
    visibility: hidden;
    width: 120px;
    height: auto;
    background-color: #272727;
    color: #EDEDED;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    position: absolute;
    top: -40px;
    left: 0;
    z-index: 1;
    border: 1px solid #373737;
    /* box-shadow: 0 24px 38px 3px rgba(100, 100, 100, 0.14),
        0 9px 46px 8px rgba(100, 100, 100, 0.12), 0 11px 15px -7px rgba(100, 100, 100, 0.2); */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    animation: postEffect .5s linear;
}

.container2 {
    display: flex;
    background-color: #171717;
    color: #EDEDED;
    width: 400px;
    height: 400px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;

}

.no-post {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-post div {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    width: 100%;
    font-size: large;

}

#noPostYet {
    font-size: 3rem;
    font-family: 'Chakra Petch', sans-serif;
}

#beProductive {
    background: -webkit-linear-gradient(45deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fontcolor 1s linear infinite;
    font-size: 1rem;
    font-family: 'Chakra Petch', sans-serif;

}

#beProductive:hover {
    cursor: pointer;
}

.clickHere {
    width: fit-content;
    padding: 5px;
    background-color: #444444;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 5px -1px rgba(255, 255, 255, 0.2);
}

@keyframes rgb {
    0% {
        background: -webkit-linear-gradient(45deg, #f7953380, #f3705580, #ef4e7b80, #a166ab80, #5073b880, #1098ad80, #07b39b80, #6fba8280);

    }

    12.5% {
        background: -webkit-linear-gradient(45deg, #6fba8280, #f7953380, #f3705580, #ef4e7b80, #a166ab80, #5073b880, #1098ad80, #07b39b80);

    }

    25% {
        background: -webkit-linear-gradient(45deg, #07b39b80, #6fba8280, #f7953380, #f3705580, #ef4e7b80, #a166ab80, #5073b880, #1098ad80);

    }


    37.5% {
        background: -webkit-linear-gradient(45deg, #1098ad80, #07b39b80, #6fba8280, #f7953380, #f3705580, #ef4e7b80, #a166ab80, #5073b880);

    }

    50% {
        background: -webkit-linear-gradient(45deg, #5073b880, #1098ad80, #07b39b80, #6fba8280, #f7953380, #f3705580, #ef4e7b80, #a166ab80);
    }

    62.5% {
        background: -webkit-linear-gradient(45deg, #a166ab80, #5073b880, #1098ad80, #07b39b80, #6fba8280, #f7953380, #f3705580, #ef4e7b80);

    }

    75% {
        background: -webkit-linear-gradient(45deg, #ef4e7b80, #a166ab80, #5073b880, #1098ad80, #07b39b80, #6fba8280, #f7953380, #f3705580);

    }

    87.5% {
        background: -webkit-linear-gradient(45deg, #f3705580, #ef4e7b80, #a166ab80, #5073b880, #1098ad80, #07b39b80, #6fba8280, #f7953380);
    }

    100% {
        background: -webkit-linear-gradient(45deg, #f7953380, #f3705580, #ef4e7b80, #a166ab80, #5073b880, #1098ad80, #07b39b80, #6fba8280);

    }


}

.confetti {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    margin: 0 auto;
    user-select: none;
    z-index: +1000;
}

.posts {
    position: relative;
}

#postLoading {
    position: fixed;
    top: 20%;
    left: 45%
}

.pageControl {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}


.pageNumber {
    padding: 0 5px;

}

.pageNumber:hover {
    cursor: pointer;

}