* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* MAIN COLOR */
#mainColor {
    color: #171717;
}

#color1 {
    color: #444444;
}

#color2 {
    color: #EDEDED;
}

#color3 {
    color: #DA0037
}

body {
    position: relative;
}

.title {
    color: #EDEDED;
    margin-left: 20px;
    margin-top: 20px;
}

p::before {
    content: attr(data-item);
    transition: all 1s ease-in-out;
    color: #8254ff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
}

p:hover::before {
    width: 100%;
}


a {
    text-decoration: none;
    color: #8f8f8f;
    font-size: 24px;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

a::before {
    content: attr(data-item);
    transition: 0.5s;
    color: #8254ff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
    background: -webkit-linear-gradient(45deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fontcolor 1s linear infinite;
}

a:hover::before {
    width: 100%;
    transition: all 0.5s ease-in-out;
}

nav {
    position: absolute;
    top: 0;
    width: 100vw;

}

.menuItems {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    width: 100%;
    background: #444444;
}

.menuItems>li {
    padding: 0 80px;

}

footer {
    position: fixed;
    bottom: 0;
}

@keyframes fontcolor {
    0% {
        background: -webkit-linear-gradient(45deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    12.5% {
        background: -webkit-linear-gradient(45deg, #6fba82, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    25% {
        background: -webkit-linear-gradient(45deg, #07b39b, #6fba82, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


    37.5% {
        background: -webkit-linear-gradient(45deg, #1098ad, #07b39b, #6fba82, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    50% {
        background: -webkit-linear-gradient(45deg, #5073b8, #1098ad, #07b39b, #6fba82, #f79533, #f37055, #ef4e7b, #a166ab);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    62.5% {
        background: -webkit-linear-gradient(45deg, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82, #f79533, #f37055, #ef4e7b);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    75% {
        background: -webkit-linear-gradient(45deg, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82, #f79533, #f37055);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    87.5% {
        background: -webkit-linear-gradient(45deg, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82, #f79533);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    100% {
        background: -webkit-linear-gradient(45deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


}

/* Style the tab */
.tab {
    position: sticky;
    top: 0;
    left: 0;
    padding-left: 0;
    overflow: hidden;
    width: 100%;
    min-width: 900px;
    ;
    background-color: #444444;
    font-family: 'Raleway', sans-serif;
    z-index: +1
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: rgb(24, 25, 26);
    color: #444444;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: rgb(24, 25, 26);
    color: #444444;
}

/* Style the tab content */
.tabcontent {
    min-width: 900px;
    display: none;
    padding: 20px 16px;
    /* border: 1px solid #ccc; */
    border-top: none;
    color: #EDEDED;
    justify-content: center;
}

.tabcontent {
    /* animation: fadeEffect 1s; */
    /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}